# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vscode
.idea
*.log
*_test
./log/*

src/cmake_install.cmake
src/CMakeCache.txt

src/tiny_base/api\.cc

src/tiny_core/processpool\.cc

src/test/build/*
src/mytest/build/*
src/build/*
